<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" style="width: 100%">
        <!-- <img
          [src]="'assets/imgs/' + product.product_img"
          class="card-img-top"
          [alt]="product.product_name"
        /> -->
        <div class="card-body">
          <!-- <h5 class="card-title">{{ product.product_name }}</h5>
          <p class="card-text">Price: ${{ product.price }}</p>
          <p class="card-text">Ratings: {{ product.ratings }} / 5</p> -->
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
            odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi.
          </p>
          <p class="card-text">
            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
            impedit quo minus id quod maxime placeat facere possimus, omnis
            voluptas assumenda est, omnis dolor repellendus.
          </p>
          <div class="mb-3"></div>
          <a href="#" class="btn btn-primary">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
